.div-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 20vh 0;
}
.div-flex-text{
    max-width: 540px;
    display: grid;
    gap: 2em;
}
.div-flex-text h1{
    font-size: 32px;
    color: #ca0114;
    font-family: 'Cinzel', serif;

}
.div-flex-text p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Source Serif 4", serif;
    text-transform: none;
}

