.div-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 20vh 0;
}
.div-flex-text{
    max-width: 540px;
    display: grid;
    gap: 2em;
}
.div-flex-text h1{
    font-size: 32px;
    color: #ca0114;
    font-family: 'Cinzel', serif;

}
.div-flex-text p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Source Serif 4", serif;
    text-transform: none;
}
.about-section-text  {
    color: #ca0114;
    display: grid;
    width: 100%;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   padding: 6em 0;

}
.about-section-text p{
    width: 1040px;
    font-family: "Source serif 4", sans-serif;
    color: black;

}
