@media (max-width: 640px) {
    .div-flex{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 20vh 3em;
    }
    .div-flex img{
        width: 340px;
    }
    .div-flex-text{
        width: 100%;
    }
.div-flex-text p{
    width: 100%;
    font-size: 18px;
}

}