.footer{
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
   
}
.footer-flex{
    display: flex;
    background-color: #ca0114;
    color: white;
    padding: 4em;
    /* width: 100%; */
    max-width: 1600px;
}
.first{
    /* max-width: 920px; */
}
.first h1{
    font-size: 52px;
    font-family: "Cinzel", sans-serif;
}
.second{
    /* width: 15%; */
}
.third{
    /* overflow:hidden; */
    /* width: 15%; */
}

.last-footer{
    display: flex;
    justify-content: space-between;
    background-color: #0c4264;
    align-items: center;
    padding: 2em 2.5em;
    color: #fff;

}
.last-footer h3{
    font-size: 16px;
}
.social-icons{
    display: flex;
    gap: 2em;
}
@media (max-width: 640px){
.first h1{

    font-size: 30px;
}
.first{
    width:100%;
}
.third h2{
    font-size:16px;
    width:100%;
}
.third{
    overflow:hidden;
    width:100%;
}
.third h3{
    font-size:13px;
    overflow:hidden;

}
}